.icon-container{
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	gap: 15px;
	z-index: 9;
}

.icon-logout{
	position: absolute;
	left: 10px;
	top: 10px;
	display: flex;
	gap: 15px;
	 z-index: 1;
}

.icon{
	cursor: pointer;
}

.folder-flap {
  position: absolute;
  top: 356px;
  left: 45%;
  transform: translateX(-98%)scaleY(-1) scaleX(-1);
  width:50px;
  height: 36px;

  border-bottom: none;
  border-bottom-left-radius: 50px;
    background-color:#d9d568;
  z-index: 2;
}
.folder-strip {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 0px 0px 0px;
  border-top-left-radius: 0px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  background-color:#d9d568;
  z-index: 1;
}


.loginstuff {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  z-index: 1;
  background-color:yellow;
}




h1 {
  font-family: 'Oswald', sans-serif;
  margin: 10px 0;
}


.auth-btn{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: white;
}
.view-icons{
	text-align:center;
	justify-content:center;
	align-items:center;
	display:flex;
	margin-top: 1vh;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh; 
  z-index: -1;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 75px;
  height: 10vh; 
  z-index:5;

}

.grid-parent {
	display:grid;
	grid-template-columns: auto auto auto;
	position: relative;
	top: 10vh;
	margin:10px;
	padding: 2vw;
}
.card-parent {
	display:grid;
	grid-template-columns: auto auto auto;
	position: relative;
	margin:10px;
	padding: 2vw;
}
.list-parent {
	display:grid;
	grid-template-columns: auto;
	position: relative;
	margin:0px;
	width:50%;
	left:25%;
	padding: 0.25vw;
}
.card-title {
position: absolute;
	text-align: center;
	  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 10vh; 
  z-index: 0;
  padding-bottom: 5vh;
}
.grid-child{
	border: 1px solid #c5c5c5;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items:center;
	height: auto;
	cursor: pointer;
	border-radius:20px;
	margin:2px;
}
.grid-child h4{
	color: #777777;
}

.folder-title{
	display: flex;
	justify-content: center;
	margin-top:20px;
	padding-top:4vh;
	z-index: -1;
}
.search-title{
	display: flex;
	justify-content: center;
}
.search-title2{
	display: flex;
	justify-content: center;
	padding-top:90px;
	z-index:8;
}
.return{
	position: absolute;
	left: 10px;
	top: 10px;
	display: flex;
	cursor: pointer;
		z-index: 1;
}

.image-preview{
	height:200px;
	width:full;
}

.preview-child{
	border: 1px solid #c5c5c5;
	justify-content: center;
	display: flex;
	align-items:center;
	height: 200px;
	flex-direction:column;
	cursor: pointer;
	border-radius: 2vw;
	margin:10px;
}
.list-child{
	border: 1px solid #c5c5c5;
	display: flex;
	align-items:left;
	height: 30px;
	gap: 5px;
	cursor: pointer;
	border-radius: 0.25vw;
	justify-content: center;
	align-items: center;
}
.file-drop {
  border: 2px dashed #aaa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.file-drop p {
  margin: 0;
}
.media{
height: auto;
width: 100%;
}

.file-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.list-details {
  align-items: right;
}
.list-icons {
  display: flex;
}
.file-icons {
  margin-top: 5px; 
  display: flex;
  gap: 10px; 
}
.media-full{
	height:80vh;
	width:80vw;
	margin: 0 auto;
	display: block;
}
.comment {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}