.icon-container{
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	gap: 15px;
}

.icon{
	cursor: pointer;
}
.auth-btn{
	display:flex;
	justify-content: center;
	align-items: cneter;
	height: 100vh;
	flex-direction: column;
}

.grid-parent {
	display:grid;
	grid-template-columns: auto auto auto;
	position: relative;
	top: 10vh;
	gap 10px;
	padding: 2vw;
}

.grid-child{
	border: 1px solid #c5c5c5;
	justify-content: center;
	display: flex;
	align-items:cneter;
	height: 100px;
	cursor: pointer;
	border-radius: 2vw;
}
.grid-child h4{
	color: #777777;
}

.folder-title{
	display: flex;
	justify-content: center;
	margin-top:30px;
}

.return{
	position: absolute;
	left: 30px;
	cursor: pointer;
}

.image-preview{
	width:100px;
}

.preview-child{
	border: 1px solid #c5c5c5;
	justify-content: center;
	display: flex;
	align-items:cneter;
	height: 200px;
	flex-direction:column;
	cursor: pointer;
	border-radius: 2vw;
	gap:10px;
}