.icon-container{
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	gap: 15px;
}

.icon{
	cursor: pointer;
}
.auth-btn{
	display:flex;
	justify-content: center;
	align-items: cneter;
	height: 100vh;
	flex-direction: column;
}

.grid-parent {
	display:grid;
	grid-template-columns: auto auto auto;
}

.grid-child{
	border: 1px solid #212121;
}